.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px calc(100vw - 200px);
  grid-template-rows: max-content auto max-content;
  grid-template-areas: 
  "header header"
  "sidebar content"
  "footer footer"
}

.content {
  grid-area: content;
  box-sizing: border-box;
  padding: 8px;
}