.dashboardFilters {
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid black;
  margin-bottom: 8px;
}

.dashboardFilters summary {
  font-family: 'Zilla Slab', serif;
  font-size: 1.2rem;
}

.dashboardFilters .contents {
  margin-top: 8px;
}

.dashboardFilters .group {
  display: inline-block;
  margin-right: 8px;
}

.dashboardFilters .group label {
  font-size: 0.875rem;
}

.dashboardFilters .group__vertical label {
  display: block;
  margin-bottom: 4px;
}