.bugList {
  overflow-y: scroll;
  height: 200px;
  border: 1px solid black;
}

.bugList table {
  width: 100%;
  font-size: 0.875rem;
  border-spacing: 2px;
}

.bugList thead th {
  background: var(--lemon-yellow);
}

.bugList thead th, .bugList tbody th {
  position: sticky;
  top: 2px;
}

.bugList tbody tr:nth-child(even) {
  background: var(--light-grey);
}

.bugList tbody td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px;
}

.bugList tbody td.closed {
  text-decoration: line-through;
}