.bugList {
  position: relative;
  overflow-y: scroll;
  height: 100px;
  border: 1px solid black;
  flex-grow: 1;
}

.bugList .message {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 320px;
  margin-left: -160px;
  background: var(--light-grey);
  color: black;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
  padding: 16px;
}

.bugList .message.error {
  background: var(--warm-red);
  color: white;
}

.bugList table {
  width: 100%;
  font-size: 0.875rem;
  border-spacing: 2px;
  table-layout: fixed;
  white-space: nowrap;
}

.bugList thead th {
  background: var(--lemon-yellow);
}

.bugList thead th, .bugList tbody th {
  position: sticky;
  top: 2px;
  padding: 4px;
}

.bugList tbody tr:nth-child(even) {
  background: var(--light-grey);
}

.bugList tbody td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px;
}

.bugList tbody td.closed {
  text-decoration: line-through;
}