.summaryView .contents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 8px;
}

.summaryView .summaryItem {
  border: 1px solid var(--light-grey);
  height: 200px;
}

.summaryView .summaryItem.loading, .summaryView .summaryItem.nodata {
  display: flex;
  align-items: center;
}

.summaryView .summaryItem.nodata > div {
  margin: 0 auto;
  color: var(--light-grey);
  text-transform: uppercase;
  text-align: center;
}

.summaryView .summaryItem .title {
  text-align: center;
  margin-bottom: 8px;
}

.summaryView .summaryItem .ct-chart {
  margin-top: 8px;
}