:root {
  --lemon-yellow: #fff44f;
  --light-grey: #e7e5e2;
  --dark-grey: #959595;
  --dark-blue: #00458b;
  --warm-red: #ff4f5e;
  --neon-blue: #00ffff;
}

html, body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

h1, h2, h3 {
  font-family: 'Zilla Slab', serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

select {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  border: 1px solid var(--dark-grey);
}

a {
  color: var(--dark-blue);
}

button {
  background: var(--dark-grey);
  color: white;
  border: 1px solid black;
  font-size: 0.75rem;
  font-family: 'Open Sans', sans-serif;
  padding: 4px 8px 4px 8px;
  border-radius: 2px;
}

button:disabled {
  opacity: 0.33;
}

.dashboardFilters .filter {
  display: inline-block;
  margin-right: 8px;
}

.dashboardFilters .filter label {
  font-size: 0.875rem;
}

.dashboardFilters .filter__vertical label {
  display: block;
  margin-bottom: 4px;
}

.dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dashboard h2 {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.dashboard .bugList .summary {
  width: 40%;
}

.dashboard .bugList .component {
  width: 20%;
}

.dashboard .bugList .id {
  width: 80px;
}